
<h2>Hello, <%= user.username %>!</h2>

  <form action="/user/edit-profile" method="get"> 
    <button type="submit" class="btn btn-primary">Edit Profile</button>
  </form><br>

  <form action="/admin/edit-users" method="get"> 
    <button type="submit" class="btn btn-primary">Edit Users</button>
  </form><br>

  <form action="/auth/logout" method="get">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>

  